		
		<!-- 헤더 -->
		<div class="header">
			<h1>{{nickname2}} 포인트 내역</h1>
			<a ng-click="doTheBack()" class="prev-btn">이전으로</a>
			<a href="#/main" class="home-btn">홈</a>
		</div>
		<!-- //헤더 -->
		
		<!-- 컨텐츠 -->
		<div class="sub-content">
			<ng-form name="accountListFrm" ng-controller="AccountListCtrl as vm" ng-init="init(this)">
			<div class="point-wrap">
				<div class="point">
					보유한 포인트
					<span><img src="../images/point-icon.png" alt="">\{{point}}P</span>
				</div>
				<div class="btn">
					<a ng-click="withdraw()">포인트 출금하기</a>
				</div>
			</div>

			<div class="point-lister">
				<ul ng-repeat="account in vm.items">
					<li>
						<div class="date">{{account.created_at}}</div>
						<div class="tit">{{account.action}}</div>
						<span class="one">{{account.point}}</span>
					</li>
				</ul>
			</div>
			
			<div class="paging">
	              <span ng-class="{disabled:vm.pager.currentPage === 1}">
	                  <a ng-click="vm.setPage(1)" class="p-next">처음</a>
	              </span>
		          <ul ng-if="vm.pager.pages.length">
		              <span ng-class="{disabled:vm.pager.currentPage === 1}">
		                  <a ng-click="vm.setPage(vm.pager.currentPage - 1)" class="p-next">이전</a>
		              </span>
		              <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
		                  <a ng-click="vm.setPage(page)">{{page}}</a>
		              </li>                
		              <span ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
		                  <a ng-click="vm.setPage(vm.pager.currentPage + 1)" class="p-next">다음</a>
		              </span>
		          </ul>
	              <span ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
	                  <a ng-click="vm.setPage(vm.pager.totalPages)" class="p-next">마지막</a>
	              </span>
			</div>
			</ng-form>
		</div>
		<!-- //컨텐츠 -->
		
		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
		