
		<!-- Header -->
		<div class="header">
			<h1>{{nickname2}} Write Agent List</h1>
			<a ng-click="doTheBack()" class="prev-btn">Prev</a>
			<a href="#/main" class="home-btn">홈</a>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="sub-content">
			<div class="actpage">
				<ng-form name="agentFrm" ng-controller="AgentCtrl" ng-init="init(this)">
				<input type="hidden" ng-model="data.id" id="id" name="id" >
				<dl class="a-dl">
					<dt>Photo</dt>
					<dd>
						<div class="img-drop">
							<div class="img-pic" ngf-select="upload($file, 'main')" style="cursor: pointer;">
								<span><img id="main_img" ng-src="{{data.main}}"></span>
							</div>
							<div class="img-btn">
								<input ng-model="data.main" id="main" name="main" type="hidden" placeholder="{{data.main}}">
								<a ng-href="#/profile">Change Photo</a>
							</div>
						</div>
					</dd>
					<dt><b>*</b>Title</dt>
					<dd>
						<input name="title" ng-model="data.title" type="text" class="a-text" placeholder="Title을 Type in.">
					</dd>
					<dt><b>*</b>Agent Category</dt>
					<dd>
						<select name="agentType" ng-model="data.agentType" class="a-select" required>
				        <option value="">Select</option>
					    	<option ng-repeat="option in agentTypeList.option" value="{{option.id}}">{{option.name}}</option>
					    </select>
					</dd>
					<dt><b>*</b>Location</dt>
					<dd>
						<select name="region1" ng-model="data.region1" ng-change="changeSelect(this)" class="a-select left" required>
				        <option value="">Select</option>
					    	<option ng-repeat="option in region1List.option" value="{{option.id}}">{{option.name}}</option>
					    </select>
						<select name="region2" ng-model="data.region2" class="a-select right" required>
				        <option value="">Select</option>
					    	<option ng-repeat="option in region2List.option" value="{{option.id}}">{{option.name}}</option>
					    </select>
					</dd>
					<dt><b>*</b>Part-time fee</dt>
					<dd>
						<select name="parttime" ng-model="data.parttime" class="a-select" required>
				        <option value="">Select</option>
					    	<option ng-repeat="option in parttimeList.option" value="{{option.id}}">{{option.name}}</option>
					    </select>
					</dd>
					<dt><b>*</b>Detail</dt>
					<dd>
						<textarea name="detail" ng-model="data.detail" class="a-area" placeholder="Write some texts."></textarea>
					</dd>
<!-- 	       agentFrm.$valid = {{agentFrm.$valid}}<br> -->
<!-- 	       agentFrm.$dirty = {{agentFrm.$dirty}}<br> -->
<!-- 	       agentFrm.$error = {{agentFrm.$error}}<br> -->
				</dl>
				<div ng-class="agentFrm.$valid && agentFrm.$dirty ? 'write-btn-true' : 'write-btn-false'">
					<a ng-click="write(this)" style='color: #ffffff;'>Write</a>
				</div>
				</ng-form>
			</div>
		</div>

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
