		<!-- Header -->
		<div class="header">
			<h1>{{nickname2}} Point Recharge & Query</h1>
			<a ng-click="doTheBack()" class="prev-btn">Prev</a>
			<a href="#/main" class="home-btn">Home</a>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="sub-content">

			<ng-form name="chargeFrm" ng-controller="ChargeCtrl" ng-init="init(this)">

			<div class="ppo-wrap">

				<div class="ppo-opt">
					<div class="tit">Current Point(P)</div>
					<div class="opt">
						<img src="../images/p-icon.png" alt="">
						<span id='point'>\{{point}}P</span>

						<a ng-href="#/accountlist">Deposit & Use Content<img src="../images/pp-bullete.png" alt=""></a>
					</div>
				</div>

				<div class="ppo-list">
					<ul>
						<li>
							<a ng-click='spoint=100' ng-class="spoint==100 ? 'on' : ''">
								<img src="../images/p-list01.png" alt="" class="icon">
								<div class="opt">
									<p class="so">100P</p>
									<p class="big">\1,100</p>
								</div>
								<span class="check"></span>
							</a>
						</li>
						<li>
							<a ng-click='spoint=500' ng-class="spoint==500 ? 'on' : ''">
								<img src="../images/p-list02.png" alt="" class="icon">
								<div class="opt">
									<p class="so">500P<b>(+50P)</b></p>
									<p class="big">\4,900</p>
								</div>
								<span class="check"></span>
							</a>
						</li>
						<li>
							<a ng-click='spoint=1000' ng-class="spoint==1000 ? 'on' : ''">
								<img src="../images/p-list03.png" alt="" class="icon">
								<div class="opt">
									<p class="so">1000P<b>(+200P)</b></p>
									<p class="big">\9,800</p>
								</div>
								<span class="check"></span>
							</a>
						</li>
						<li>
							<a ng-click='spoint=5000' ng-class="spoint==5000 ? 'on' : ''">
								<img src="../images/p-list04.png" alt="" class="icon">
								<div class="opt">
									<p class="so">5000P<b>(+1500P)</b></p>
									<p class="big">\4,9700</p>
								</div>
								<span class="check"></span>
							</a>
						</li>
					</ul>
				</div>

			</div>

			<div class="ppo-btn">
				<ul>
					<li>
						<a ng-click="charge('Credit Card')" >
							Credit Card<span>Recharge</span>
						</a>
					</li>
					<li>
						<a ng-click="charge('Pay by Phone')" >
							Pay by Phone<span>Recharge</span>
						</a>
					</li>
					<li>
						<a ng-click="charge('Transfer Money')" >
							Transfer Money<span>Recharge</span>
						</a>
					</li>
				</ul>
			</div>
			</ng-form>

		</div>
		<!-- //Contents -->

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatreq.html'"></div>
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
