
		<!-- Header -->
		<div class="header">
			<h1><b>{{nickname2}} Tz</b> Chat</h1>
			<a ng-click="doTheBack()" class="prev-btn">Prev</a>
			<a href="main" class="home-btn">Home</a>
		</div>

		<ng-form name="chatListFrm" ng-controller="ChatListCtrl as vm" ng-init="init(this)">
		<div class="quick-menu">
			<ul>
				<li><a ng-href="list" class="menu01">Online User</a></li>
				<li><a ng-href="roomlist" class="menu02">Chat Room</a></li>
				<li><a ng-href="talklist" class="menu03">Talk</a></li>
				<li ng-if="chatcount > 0" class="on">
					<a ng-href="chatlist" class="menu04">Chatting</a>
					<span class="count">{{chatcount}}</span>
				</li>
				<li ng-if="chatcount == 0" ><a ng-href="chatlist" class="menu04">Chatting</a></li>
				<li><a ng-href="setting" class="menu05">More</a></li>
			</ul>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="sub-content quickon">

			<dl class="s-dl long">
				<dd ng-repeat="data in datas" ng-class="$even ? 'not' : ''">
					<span class="user"><img ng-src="{{data.main}}" onerror='onImgError(this);' alt=""></span>
					<div class="data">
						<p class="name">{{data.nickname}} {{data.socketid}} ({{data.age}},
						<span ng-if="data.gender == 'man'">Man</span>
						<span ng-if="data.gender == 'woman'">Woman</span>
						,{{data.region1}} {{data.region2}})</p>
						<p class="txt1">{{data.nickname}} sent a request for chatting. (
							<span ng-if="data.status == 'request'">Request</span>
							<span ng-if="data.status == 'accepted'">Approved</span>
							<span ng-if="data.status == 'reject'">Refused</span>
						)</p>
					</div>

					<div class="chat-opt" ng-click="join($index)" style="cursor: pointer;">
						<div class="count"><span>{{data.count}}</span></div>
						<div class="date">{{data.created_at}}</div>
					</div>
				</dd>
			</dl>
			
			<div class="chatting-tit">
			</div>
			<div class="visual"><a href="sub08.html"><img src="../images/super-chatting.png" alt="Request Chatting"></a></div>
			
		</div>
		</ng-form>
		<!-- //Contents -->

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatreq.html'"></div>
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
