	<ng-form id="chatFrm" name="chatFrm" ng-controller="ChatCtrl" ng-init="init(this)" >
		<!-- Header -->
		<div class="header">
			<a ng-click="doTheBack2()" class="prev-btn">Prev</a>
			<span class="chat-name">Chatting with {{target.nickname}} {{roomid1}}  ( {{nickname}} )</span>
			<input type="hidden" id="chatid">
			<input type="hidden" id="roomid">
			<input type="hidden" id="source_userid">
			<input type="hidden" id="target_userid">
			<input type="hidden" id="source_gender">
			<input type="hidden" id="source_image">
			<input type="hidden" id="target_gender">
			<input type="hidden" id="target_image">
			<input type="hidden" id="ori_point">
			<span class="chat-date">
				{{target.age}}, <span ng-if="target.gender == 'man'">Man</span>
						<span ng-if="target.gender == 'woman'">Woman</span> ({{target.region1}}, {{target.region2}})
				<a ng-click="working()">Report</a>
				<a ng-click="close(this)">Exit</a>
			</span>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="sub-content">
			<div class="chat-data">
				<div class="left">
					<span ng-show="gender == 'woman'">Chatting DepositPoint<b><p id='reserve'>${{reserve}}P</p></b></span>
					<span ng-show="gender == 'man'">Submit Point<b><p id='send'>${{send}}P</p></b></span>
				</div>
				<span class="bar"></span>
				<div class="right">
					<span>Total Point<b><p id='point'>${{point}}P</p></b></span>
				</div>
			</div>

			<!-- Chatting -->
			<div class="chat-wrap">
				<div class="chat">

					<div class="c-date">
						<span class="date">{{today}}</span><span class="bar"></span>
					</div>

					<div id='view'>
						<div id="c-row" class="c-row"></div>
					</div>

					<div class="left" id='left_template' style='display: none'>
						<div class="c-box" > <!-- style="height: 55px;" -->
							<div class="img" style="float: left; width: 40px; height: 40px;">
								<img src="../images/user-icon.png" onerror="onImgError3(this);" style="width: 40px; height: 40px;" alt="">
							</div>
							<div class="c-name2" style="float: left;"></div>
							<div class="c-txt2" id="text1" name="text1">
								<span class="bullet"></span>
							</div>
							<span class="c-clock2" id="clock2"></span>
						</div>
					</div>

					<div class="right" id='right_template' style='display: none'>
						<div class="c-box">
							<div class="right">
								<div class="c-txt2" id="text2" name="text2">
									<span class="bullet"></span>
								</div>
								<span class="c-clock2" id="clock2"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Chatting -->
			<!-- //Chatting -->

			<div class="chat-form">
				<a href="#" class="plus-btn"><img src="../images/plus_btn.png" alt=""></a>
				<input id="text1" name="text1" ng-model="text1" ng-keyup="$event.keyCode == 13 && sendMsg(this, $event.keyCode)" type="text" placeholder="Type your message.">
				<a ng-click="sendMsg(this)" class="call-btn">Submit</a>
			</div>
		</div>
		<!-- //Contents -->

	</ng-form>
