
		<!-- Header -->
		<div class="header">
			<h1>{{nickname2}} Q&A</h1>
			<a ng-click="doTheBack()" class="prev-btn">Prev</a>
			<a href="#/main" class="home-btn">Home</a>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="sub-content">

			<div class="join-bar">Chatting App</div>

			<ng-form name="clientqFrm" ng-controller="ClientqCtrl" ng-init="init(this)">
			<div class="actpage">
				<p class="inquiry-p">My Q&A</p>

				<table class="join-tbl">
					<colgroup>
						<col style="width:80px">
						<col style="width:auto">
					</colgroup>
					<tbody>
						<tr>
							<th>Title</th>
							<td>
								<input ng-model="data.title" id="title" name="title" type="text" class="m-text" placeholder="Type in" required>
							</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>
								<input name="email" ng-model="data.email" type="hidden" class="calc-input2" required>
								<input name="email1" ng-model="email1" ng-change="changeEmail(this)" type="text" class="calc-input2"> @
								<select name="email2" ng-model="email2" ng-change="changeEmail(this)" class="calc-select">
					        		<option value="">Select</option>
							      	<option ng-repeat="option in emailList.option" value="{{option.id}}">{{option.name}}</option>
						        	<option value="self">Type</option>
							    </select>
								<span style="color:red" ng-show="clientqFrm.eMail.$dirty && clientqFrm.eMail.$invalid">
					                  <span ng-show="clientqFrm.eMail.$error.required">Type in email.</span>
					                  <span ng-show="clientqFrm.eMail.$error.email">email is not valid.</span>
                  				</span>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<textarea ng-model="data.detail" id="detail" name="detail" class="a-area" placeholder="Write some texts." required></textarea>
							</td>
						</tr>
					</tbody>
				</table>
<!-- 		       clientqFrm.$valid = {{clientqFrm.$valid}}<br> -->
<!-- 		       clientqFrm.$dirty = {{clientqFrm.$dirty}}<br> -->
<!-- 		       clientqFrm.$error = {{clientqFrm.$error}}<br> -->
			</div>

			<br>
			<div class="write-btn">
				<a ng-click="write(this)" class="left">Ask</a>
				<a ng-click="doTheBack()" class="right">Cancel</a>
			</div>

			</ng-form>
		</div>
		<!-- //Contents -->

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
