
		<!-- Header -->
		<div class="header">
			<h1><b>{{nickname2}} Tz</b> Chat {{socketid1}}</h1>
			<a ng-click="doTheBack()" class="prev-btn">Prev</a>
			<a href="#/main" class="home-btn">Home</a>
		</div>

		<div class="quick-menu">
			<ng-form name="chatListFrm" ng-controller="ChatListCtrl as vm" ng-init="init(this)">
			<ul>
				<li class="on"><a ng-href="#/list" class="menu01">Online User</a></li>
				<li><a ng-href="#/roomlist" class="menu02">Chat Room</a></li>
				<li><a ng-href="#/talklist" class="menu03">Talk</a></li>
				<li ng-if="chatcount > 0" class="on">
					<a ng-href="#/chatlist" class="menu04">Chatting</a>
					<span class="count">{{chatcount}}</span>
				</li>
				<li ng-if="chatcount == 0" ><a ng-href="#/chatlist" class="menu04">Chatting</a></li>
				<li><a ng-href="#/setting" class="menu05">More</a></li>
			</ul>
			</ng-form>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="sub-content quickon">
			<ng-form name="listFrm" ng-controller="ListCtrl as vm" ng-init="init(this)">
			<div class="visual green"><a href="#" onClick="return false;"><img src="../images/m1-visual.png" alt=""></a></div>

			<dl class="s-dl" ng-show="data.userid">
				<dt><img src="../images/men.png" alt=""> My profile {{isshow}}</dt>
				<dd>
					<span class="user"><img ng-src="{{data.main}}" onerror='onImgError(this);' alt=""></span>
					<div class="data" style="margin-top: 8px;">
						<p class="name">{{data.nickname}}({{data.age}},
						<span ng-if="data.gender == 'man'">Man</span>
						<span ng-if="data.gender == 'woman'">Woman</span>,
						{{data.region1}} {{data.region2}})</p>
						<p class="txt1">{{data.message}}</p>
					</div>
					<a ng-href="#/profile" class="s-on one">Update</a>
				</dd>
			</dl>

			<dl class="s-dl">
				<dt><img src="../images/men.png" alt=""> Current Online User</dt>
				<dd ng-repeat="data in datas">
					<span class="user"><img ng-src="{{data.main}}" onerror='onImgError(this);' alt=""></span>
					<div class="data" style="margin-top: 8px;">
						<p class="name">
							<img ng-if="data.ticketimg != ''" ng-src="{{data.ticketimg}}" alt="" class="s-icon">
							{{data.nickname}} {{data.socketid1}} ({{data.age}},
						<span ng-if="data.gender == 'man'">Man</span>
						<span ng-if="data.gender == 'woman'">Woman</span>
						,{{data.region1}} {{data.region2}})</p>
						<p class="txt1">{{data.message}}</p>
					</div>

					<a ng-click="open(data)">Chat</a>
				</dd>
			</dl>

			<div class="more-btn">
<!-- 				<a href="#" onClick="return false;">more</a> -->
			</div>
			</ng-form>
		</div>

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatreq.html'"></div>
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
		<!-- //Contents -->
