
		<!-- Header -->
		<div class="header">
			<h1><b>Tz</b> Chat</h1>
			<a ng-href="#/registry" class="join-btn">Register</a>
			<a ng-click="login()" id="loginBtn" class="join-btn">Sign In</a>
		</div>

		<div class="quick-menu">
			<ng-form name="chatListFrm" ng-controller="ChatListCtrl as vm" ng-init="init(this)">
			<ul>
				<li><a ng-href="#/list" class="menu01">Online User</a></li>
				<li><a ng-href="#/roomlist" class="menu02">Chat Room</a></li>
				<li><a ng-href="#/talklist" class="menu03">Talk</a></li>
				<li ng-if="chatcount > 0" class="on">
					<a ng-href="#/chatlist" class="menu04">Chatting</a>
					<span class="count">{{chatcount}}</span>
				</li>
				<li ng-if="chatcount == 0" ><a ng-href="#/chatlist" class="menu04">Chatting</a></li>
				<li><a ng-href="#/setting" class="menu05">More</a></li>
			</ul>
			</ng-form>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="main-content">
			<div class="main-con">
			<ng-form name="mainFrm" ng-controller="MainCtrl as vm" ng-init="init(this)">
				<dl class="s-dl">
					<dt><img src="../images/medal.png" alt=""> New Chat Room</dt>
					<dd ng-repeat="room in rooms">
						<span class="user"><img ng-src="{{room.main}}" style="height: 50px;" onerror='onImgError(this);'></span>
						<div class="data">
							<p class="name">{{room.nickname}}({{room.age}},
							<span ng-if="room.gender == 'man'">Man</span>
							<span ng-if="room.gender == 'woman'">Woman</span>
							,{{room.region1}} {{room.region2}})</p>
							<p class="txt1">{{room.title}}</p>
							<p class="txt2">{{room.detail}} ( {{room.region1}}>{{room.region2}} | {{room.roomType}} )</p>
						</div>
						<a ng-click="talk(room)" ng-class="room.userid === userid ? 's-off one' : 's-on one'">Ask</a> 
	                </dd>
				</dl>

				<dl class="s-dl">
					<dt><img src="../images/men.png" alt=""> Current Online User</dt>
					<dd ng-repeat="data in datas">
						<span class="user"><img ng-src="{{data.main}}" onerror='onImgError(this);' alt=""></span>
						<div class="data" style="margin-top: 9px;">
							<p class="name">{{data.nickname}} {{data.socketid1}} ({{data.age}},
							<span ng-if="data.gender == 'man'">Man</span>
							<span ng-if="data.gender == 'woman'">Woman</span>
							,{{data.region1}} {{data.region2}})</p>
							<p class="txt1">{{data.message}}</p>
						</div>
						<a ng-click="chat(data)" ng-class="(data.userid != userid) ? 's-on one' : 's-off one'">Chat</a>
					</dd>
				</dl>

				<div class="s-notice">
					<a href="#" onClick="return false;">
						<span class="icon">Notice</span>
						<span class="txt">Point Unit Change</span>
					</a>
				</div>
			</ng-form>
			</div>
			
			<div class="visual2">
				<h1>
					<a href="http://admin.topzone.biz" target='_blank'>Tz-Chat Admin Tool</a>
				</h1>
			</div>
			<br><br><br><br>
			<p></p>
			
		</div>
		<!-- //Contents -->

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatreq.html'"></div>
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
