
	<!-- Header -->
	<div class="header">
		<h1>
			<b>{{nickname2}} Tz</b> Chat
		</h1>
		<a ng-click="doTheBack()" class="prev-btn">Prev</a>
		<a ng-href="main" class="home-btn">Home</a>
	</div>

	<!-- Contents -->
	<div class="sub-content" ng-controller="PrivateCtrl">
		<div class="mypage">
			<dl class="m-dl">
				<ng-form name="privateFrm1">
				<dt>Password Change</dt>
				<dd>
					<input type="hidden" ng-model="data.id" id="id" name="id" >
					<input name="passwd" ng-model="data.passwd" type="password"
						placeholder="Password" class="m-text"
						ng-pattern="/^[a-zA-Z0-9]{5,15}$/" required>
					<p
						ng-show="privateFrm1.passwd.$error.required && privateFrm1.passwd.$dirty">
						Type in Password.</p>
					<p
						ng-show="privateFrm1.passwd.$error.pattern && privateFrm1.passwd.$dirty">Minimum
						5, Maximum 15. At least 1 lowercase, uppercase and number.</p>
				</dd>
				<dd>
					<input id="passwd1" name="passwd1" ng-model="data.passwd1"
						type="password" placeholder="new password" class="m-text"
						ng-pattern="/^[a-zA-Z0-9]{5,15}$/" required>
					<p
						ng-show="privateFrm1.passwd1.$error.required && privateFrm1.passwd1.$dirty">
						Type in Password.</p>
					<p
						ng-show="privateFrm1.passwd1.$error.pattern && privateFrm1.passwd1.$dirty">Minimum
						5, Maximum 15. At least 1 lowercase, uppercase and number.</p>
				</dd>
				<dd>
					<input id="passwd2" name="passwd2" ng-model="data.passwd2"
						ng-keyup="compare(this, data.passwd2)" type="password"
						placeholder="new password" class="m-text" ng-required="true"
						ng-pattern="re">
					<p
						ng-show="privateFrm1.passwd2.$error.required && privateFrm1.passwd2.$dirty">
						Type in Password.</p>
					<p ng-show="!isSame && privateFrm1.passwd2.$dirty" name="passwdMsg">Password is different.</p>
				</dd>
				<dd>
					<p class="m-tail">* Minimum
					5, Maximum 15. At least 1 lowercase, uppercase and number.</p>
				</dd>
				<!-- 	       privateFrm1.$valid = {{privateFrm1.$valid}}<br> --> <!-- 	       privateFrm1.$error = {{privateFrm1.$error}}<br> -->
				<!-- 	       isValid1 = {{isValid1}}<br> -->
				</form>
			</dl>
			<div ng-model="validCheck1"
				ng-class="isValid1 && isSame ? 'write-btn-true' : 'write-btn-false'">
				<a href="#" ng-click="changePasswd(this)" style='color: #ffffff'>Change password</a>
			</div>

<!-- 			<br> -->
<!-- 			<br> -->

<!-- 			<dl class="m-dl"> -->
<!-- 				<ng-form name="privateFrm2"> -->
<!-- 				<dt>SMS Verify</dt> -->
<!-- 				<dd> -->
<!-- 					<input name="phone_no" ng-model="data2.phone_no" type="text" -->
<!-- 						class="calc-input" placeholder="000-000-0000" -->
<!-- 						ng-pattern="/^\d{3}-\d{3,4}-\d{4}$/" required> <a -->
<!-- 						ng-click="checkDub('')" -->
<!-- 						ng-class="privateFrm2.phone_no.$valid ? 'm-btn white' : 'jb-btn2'">Request Verify No.</a> -->
<!-- 				</dd> -->
<!-- 				<dd> -->
<!-- 					<input name="phone_confirm" ng-model="data2.phone_confirm" -->
<!-- 						type="text" placeholder="Verify No." ng-required="true" -->
<!-- 						class="m-text verti"> <a ng-click="checkDub('')" -->
<!-- 						ng-class="privateFrm2.phone_confirm.$valid ? 'm-btn green' : 'jb-btn2'">Request Verify No.</a> -->
<!-- 				</dd> -->
<!-- 				<dd> -->
<!-- 				</dd> -->

<!-- 				</ng-form> -->
<!-- 			</dl> -->

			<br>

			<div>
				<ng-form name="privateFrm3">
				<dl class="m-dl">
					<dt>Receive SMS</dt>
					<dd style="height: 38px;">
						<div class="m-radio-wrap">
							<input type="radio" value="sms_1" ng-model="data2.sms" id="sms_1"
								name="sms" class="m-radio" checked="" required><label
								for="sms_1">Yes</label>&nbsp;&nbsp;&nbsp; <input type="radio"
								value="sms_2" ng-model="data2.sms" id="sms_2" name="sms"
								class="m-radio" required><label for="sms_2">No</label>
						</div>
					</dd>
				</dl>

<!-- 				<br> -->
<!-- 				<dl class="m-dl"> -->
<!-- 					<dt>Detail</dt> -->
<!-- 					<dd> -->
<!-- 						<textarea id="message" name="message" ng-model="data2.message" -->
<!-- 							type="text" placeholder="Write some texts." class="m-area"></textarea> -->
<!-- 					</dd> -->
<!-- 				</dl> -->
				</form>
			</div>

			<br>
			<div ng-class="privateFrm3.$valid && privateFrm3.$dirty ? 'write-btn-true' : 'write-btn-false'">
				<a ng-click="update(this)" style='color: #ffffff'>Change Profile</a>
			</div>
		</div>
	</div>
	<!-- //Contents -->

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
