
		<!-- Header -->
		<div class="header">
			<h1>{{nickname2}} Write Room List</h1>
			<a ng-click="doTheBack()" class="prev-btn">Prev</a>
			<a href="main" class="home-btn">Home</a>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="sub-content">
			<div class="actpage">
				<ng-form name="roomFrm" ng-controller="RoomCtrl" ng-init="init(this)">
				<input type="hidden" ng-model="data.id" id="id" name="id" >
				<dl class="a-dl">
					<dt>Photo</dt>
					<dd>
						<div class="img-drop">
							<div class="img-pic" ngf-select="upload($file, 'main')" style="cursor: pointer;">
								<span><img id="main_img" ng-src="{{data.main}}" onerror='onImgError2(this);'></span>
							</div>
							<div class="img-btn">
								<input ng-model="data.main" id="main" name="main" type="hidden" placeholder="{{data.main}}">
								<a ng-href="profile">Change Photo</a>
							</div>
						</div>
					</dd>
					<dt><b>*</b>Title</dt>
					<dd>
						<input name="title" ng-model="data.title" type="text" class="a-text" placeholder="Type in Title.">
					</dd>
					<dt><b>*</b>Room Category</dt>
					<dd>
						<select name="roomType" ng-model="data.roomType" class="a-select" required>
				        <option value="">Select</option>
					    	<option ng-repeat="option in roomTypeList.option" value="{{option.id}}">{{option.name}}</option>
					    </select>
					</dd>
					<dt><b>*</b>Location</dt>
					<dd>
						<select name="region1" ng-model="data.region1" ng-change="changeSelect(this)" class="a-select left" required>
				        <option value="">Select</option>
					    	<option ng-repeat="option in region1List.option" value="{{option.id}}">{{option.name}}</option>
					    </select>
						<select name="region2" ng-model="data.region2" class="a-select right" required>
				        <option value="">Select</option>
					    	<option ng-repeat="option in region2List.option" value="{{option.id}}">{{option.name}}</option>
					    </select>
					</dd>
<!-- 					<dt><b>*</b>Chat Room fee</dt> -->
<!-- 					<dd> -->
<!-- 						<select name="chatroom" ng-model="data.chatroom" class="a-select" required> -->
<!-- 				        <option value="">Select</option> -->
<!-- 					    	<option ng-repeat="option in chatroomList.option" value="{{option.id}}">{{option.name}}</option> -->
<!-- 					    </select> -->
<!-- 					</dd> -->
					<dt><b>*</b>Detail</dt>
					<dd>
						<textarea name="detail" ng-model="data.detail" class="a-area" placeholder="Write some texts."></textarea>
					</dd>
<!-- 	       roomFrm.$valid = {{roomFrm.$valid}}<br> -->
<!-- 	       roomFrm.$dirty = {{roomFrm.$dirty}}<br> -->
<!-- 	       roomFrm.$error = {{roomFrm.$error}}<br> -->
				</dl>
				<div ng-class="roomFrm.$valid && roomFrm.$dirty ? 'write-btn-true' : 'write-btn-false'">
					<a ng-click="write(this)" style='color: #ffffff;'>Write</a>
				</div>
				</ng-form>
			</div>
		</div>

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
