		<!-- Header -->
		<div class="header">
			<h1>{{nickname2}} Chat Room Detail</h1>
			<a ng-click="doTheBack()" class="prev-btn">Prev</a>
			<a href="main" class="home-btn">Home</a>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="sub-content">

			<ng-form name="roomDetailFrm" ng-controller="RoomDetailCtrl" ng-init="init(this)">

			<div class="alba-tit">
				<span class="img"><img ng-src="{{target.main}}" onerror='onImgError(this);' alt=""></span>
				{{target.nickname}}({{target.age}},
							<span ng-if="target.gender == 'man'">Man</span>
							<span ng-if="target.gender == 'woman'">Woman</span>
							,{{target.region1}} {{target.region2}})
			</div>

			<table class="alba-tbl">
				<colgroup>
					<col style="width:50%">
					<col style="width:50%">
				</colgroup>
				<tbody>
					<tr>
						<th>Room Category</th>
						<th>Location</th>
					</tr>
					<tr>
						<td>{{target.roomType}}</td>
						<td>{{target.region1}}>{{target.region2}}</td>
					</tr>
<!-- 					<tr> -->
<!-- 						<th>Chat Room fee</th> -->
<!-- 						<th>Contact</th> -->
<!-- 					</tr> -->
					<tr>
						<td>{{target.chatroom}}</td>
						<td><a ng-click="working()">Verify Contact</a></td>
					</tr>
				</tbody>
			</table>

			<div class="alba-tail">
				<p class="tail-t">Introduction & Detail</p>
				<div class="tail-txt">
					<b>{{target.title}}</b>
					{{target.detail}}
				</div>
			</div>

			<div class="write-btn">
				<a ng-click="open(target)">Request Chatting</a>
			</div>
			</ng-form>
		</div>
		<!-- //Contents -->

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatreq.html'"></div>
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
