
		<!-- Header -->
		<div class="header">
			<h1><b>{{nickname2}} Tz</b> Chat {{socketid1}}</h1>
			<a ng-click="doTheBack()" class="prev-btn">Prev</a>
			<a ng-href="main" class="home-btn">Home</a>
		</div>

		<div class="quick-menu">
			<ng-form name="chatListFrm" ng-controller="ChatListCtrl as vm" ng-init="init(this)">
			<ul>
				<li><a ng-href="list" class="menu01">Online User</a></li>
				<li><a ng-href="roomlist" class="menu02">Chat Room</a></li>
				<li><a ng-href="talklist" class="menu03">Talk</a></li>
				<li ng-if="chatcount > 0" class="on">
					<a ng-href="chatlist" class="menu04">Chatting</a>
					<span class="count">{{chatcount}}</span>
				</li>
				<li ng-if="chatcount == 0" ><a ng-href="chatlist" class="menu04">Chatting</a></li>
				<li class="on"><a ng-href="setting" class="menu05">More</a></li>
			</ul>
			</ng-form>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="sub-content quickon">
			<ng-form name="settingFrm" ng-controller="SettingCtrl" ng-init="init(this)">
			<div class="more-wrap">
				<a ng-href="profile">
					<div class="more-user">
						<div class="img"><img ng-src="{{data.main}}" onerror='onImgError(this);' alt=""></div>
						<div class="more-date">
							<p class="tit">
								<img ng-src="{{ticketimg}}" alt="">
								<span ng-model="data.userid" name="userid" >{{data.userid}}</span>
							</p>
							<p class="tail" ng-model="data.nickname" name="nickname" >{{data.nickname}}</p>
						</div>
					</div>
				</a>
			</div>

			<ul class="more-list">
				<li>
					<a ng-click="charge()">
						<span class="icon"><img src="../images/qm01.png" alt=""></span>
						<span class="txt">Store</span>
					</a>
				</li>
				<li>
					<a ng-href="profile">
						<span class="icon"><img src="../images/qm02.png" alt=""></span>
						<span class="txt">Profile Update</span>
					</a>
				</li>
				<li>
					<a ng-href="private">
						<span class="icon"><img src="../images/qm03.png" alt=""></span>
						<span class="txt">Profile</span>
					</a>
				</li>
				<li>
					<a ng-click="working()">
						<span class="icon"><img src="../images/qm04.png" alt=""></span>
						<span class="txt">Notice&amp;Event</span>
					</a>
				</li>
				<li>
					<a ng-click="working()">
						<span class="icon"><img src="../images/qm05.png" alt=""></span>
						<span class="txt">Setting</span>
					</a>
				</li>
				<li>
					<a ng-href="clientq">
						<span class="icon"><img src="../images/qm06.png" alt=""></span>
						<span class="txt">Q&A</span>
					</a>
				</li>
				<li>
					<a ng-click="working()">
						<span class="icon"><img src="../images/qm07.png" alt=""></span>
						<span class="txt">Ask</span>
					</a>
				</li>
				<li>
					<a ng-click="working()">
						<span class="icon"><img src="../images/qm08.png" alt=""></span>
						<span class="txt">Invite</span>
					</a>
				</li>
			</ul>
			<br>

			<a ng-click="working()" class="num-btn">925 - 475 - 0000</a>
			</ng-form>
			<br>

		</div>
		<!-- //Contents -->

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
