
		<!-- Header -->
		<div class="header">
			<h1><b>{{nickname2}} Tz</b> Chat</h1>
			<a ng-click="doTheBack()" class="prev-btn">Prev</a>
			<a href="main" class="home-btn">Home</a>
		</div>

		<div class="quick-menu">
			<ng-form name="chatListFrm" ng-controller="ChatListCtrl as vm" ng-init="init(this)">
			<ul>
				<li><a ng-href="list" class="menu01">Online User</a></li>
				<li><a ng-href="roomlist" class="menu02">Chat Room</a></li>
				<li class="on"><a ng-href="talklist" class="menu03">Talk</a></li>
				<li ng-if="chatcount > 0" class="on">
					<a ng-href="chatlist" class="menu04">Chatting</a>
					<span class="count">{{chatcount}}</span>
				</li>
				<li ng-if="chatcount == 0" ><a ng-href="chatlist" class="menu04">Chatting</a></li>
				<li><a ng-href="setting" class="menu05">More</a></li>
			</ul>
			</ng-form>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="sub-content quickon">
			<ng-form name="talkListFrm" ng-controller="TalkListCtrl as vm" ng-init="init(this)">
			<div class="d-menu">
				<div class="t-list">
					<select name="region1" ng-model="data.region1" ng-change="changeSelect('region1')" class="calc-select" style="border: 0px solid #ffffff;font-size: 13px;color:#333">
						<option value="">Recent</option>
				      	<option ng-repeat="option in region1List.option" value="{{option.id}}">{{option.name}}</option>
				    </select>
				</div>
				<div class="t-list">
					<select name="gender" ng-model="data.gender" class="calc-select" required style="border: 0px solid #ffffff;font-size: 13px;color:#333; margin-left: 40px;">
				        <option value="all">All</option>
			        	<option value="man">Man</option>
			        	<option value="woman">Woman</option>
				    </select>
				</div>
				<div class="t-list" style="float:right">
					<a ng-click="add()">Write Talk</a>
				</div>
			</div>

			<dl class="s-dl long">
				<dd ng-repeat="talk in vm.items">
					<span class="user"><img ng-src="{{talk.main}}" onerror='onImgError(this);'></span>
					<div class="data">
						<p class="name">
							<img ng-if="talk.ticketimg != ''" ng-src="{{talk.ticketimg}}" alt="" class="s-icon">
							{{talk.nickname}}({{talk.age}},
						<span ng-if="talk.gender == 'man'">Man</span>
						<span ng-if="talk.gender == 'woman'">Woman</span>
						,{{talk.r1}} {{talk.r2}})</p>
						<p class="txt1">{{talk.meeting_type}}/{{talk.talk_style}}</p>
						<p style="font-size:13px">{{talk.detail}}</p>
						<p class="txt2">{{talk.region1}}>{{talk.region2}} | {{talk.elapse}}</p>
<!-- 						<p class="txt2"><a href="#" class="report-btn">Report</a></p> -->
					</div>
					<a ng-click="open(talk)" ng-class="(talk.userid != userid) ? 's-on one' : 's-off one'">Chat</a>
                </dd>
			</dl>

			<div class="paging">
	              <span ng-class="{disabled:vm.pager.currentPage === 1}">
	                  <a ng-click="vm.setPage(1)" class="p-next">First</a>
	              </span>
		          <ul ng-if="vm.pager.pages.length">
		              <span ng-class="{disabled:vm.pager.currentPage === 1}">
		                  <a ng-click="vm.setPage(vm.pager.currentPage - 1)" class="p-next">Prev</a>
		              </span>
		              <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
		                  <a ng-click="vm.setPage(page)">{{page}}</a>
		              </li>
		              <span ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
		                  <a ng-click="vm.setPage(vm.pager.currentPage + 1)" class="p-next">Next</a>
		              </span>
		          </ul>
	              <span ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
	                  <a ng-click="vm.setPage(vm.pager.totalPages)" class="p-next">Last</a>
	              </span>
			</div>
			</ng-form>
		</div>
		<!-- //Contents -->

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatreq.html'"></div>
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
