		<!-- Header -->
		<div class="header">
			<h1>{{nickname2}} Regular Payment</h1>
			<a ng-click="doTheBack()" class="prev-btn">Prev</a>
			<a href="main" class="home-btn">Home</a>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="sub-content">

			<ng-form name="ticketFrm" ng-controller="TicketCtrl" ng-init="init(this)">

			<div class="visual"><img src="../images/point-visual.png" alt=""></div>

			<div class="actpage">

				<p class="p-tit">Select amount!</p>

				<ul class="point-list">
					<li>
						<a ng-click="ticket('silver')"  class="p-box on">
							<p class="p01"><img src="../images/pi01.png" alt=""> SILVER Level</p>
							<p class="name">Regular 3 Day : <b>2 Dollar</b></p>
						</a>
					</li>
					<li>
						<a ng-click="ticket('gold')"  class="p-box on">
							<p class="p02"><img src="../images/pi02.png" alt="">  GOLD Level</p>
							<p class="name">Regular 30 Day : <b>4 Dollar</b></p>
						</a>
					</li>
					<li>
						<a ng-click="ticket('vip')"  class="p-box on">
							<p class="p03"><img src="../images/pi03.png" alt=""> VIP Level</p>
							<p class="name">Regular 90 Day : <b>10 Dollar</b></p>
						</a>
					</li>
					<li>
						<a ng-click="ticket('vvip')"  class="p-box on">
							<p class="p04"><img src="../images/pi04.png" alt=""> VVIP Level</p>
							<p class="name">Regular 1 Year : <b>20 Dollar</b></p>
						</a>
					</li>
				</ul>

				<br>

				<p class="p-tit">Select Payment Type.</p>

				<table class="p-tbl">
					<colgroup>
						<col style="width:33%;">
						<col style="width:33%;">
						<col style="width:33%;">
					</colgroup>
					<tbody>
						<tr>
							<td align="left"><a href="#" onClick="return false;">Credit Card</a></td>
							<td align="center"><a href="#" onClick="return false;">Phone Payment</a></td>
							<td align="right"><a href="#" onClick="return false;">Transfer Money</a></td>
						</tr>
					</tbody>
				</table>

				<br>

				<div class="visual"><img src="../images/pb-visual.png" alt=""></div>

			</div>
			</ng-form>

		</div>
		<!-- //Contents -->

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatreq.html'"></div>
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
