
		<!-- Header -->
		<div class="header">
			<h1>{{nickname2}} Write Refund Information</h1>
			<a ng-click="doTheBack()" class="prev-btn">Prev</a>
			<a href="#/main" class="home-btn">Home</a>
		</div>
		<!-- //Header -->

		<!-- Contents -->
		<div class="sub-content">

			<div class="return-wrap">
				<ng-form name="profileFrm" ng-controller="ProfileCtrl" ng-init="init(this)">
				<div class="return-opt">
					<div class="left">
						<div class="tit">Refund Point</div>
						<div class="opt">
							<img src="../images/p-icon.png" alt="">
							<span>9,900P</span>
						</div>
					</div>
					<span class="bar"></span>
					<div class="right">
						<div class="tit">Requested Point</div>
						<div class="opt">
							<img src="../images/p-icon02.png" alt="">
							<span>2,000P</span>
						</div>
					</div>
				</div>

				<div class="return-opty">
					<table class="return-tbl">
						<colgroup>
							<col style="width:90px">
							<col style="width:auto">
						</colgroup>
						<tbody>
							<tr>
								<th>Requested Amount</th>
								<td>
									<select>
										<option value="">Refund Money1</option>
										<option value="">Refund Money2</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>Real Given Amount</th>
								<td>
									<input type="text" placeholder="Real Given Amount">
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<div class="return-tail">
			</div>

			<div class="return-wrap">
				<div class="return-opty">
					<table class="return-tbl">
						<colgroup>
							<col style="width:90px">
							<col style="width:auto">
						</colgroup>
						<tbody>
							<tr>
								<th>Requested Amount</th>
								<td>
									<select>
										<option value="">Refund Money1</option>
										<option value="">Refund Money2</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>Bank</th>
								<td>
									<input type="text" placeholder="Bank Name">
								</td>
							</tr>
							<tr>
								<th>Account No.</th>
								<td>
									<input type="text" placeholder="Amount No.">
								</td>
							</tr>
							<tr>
								<th>Name</th>
								<td>
									<input type="text" placeholder="Type in">
								</td>
							</tr>
							<tr>
								<th>SSN</th>
								<td>
									<input type="text" style="width:47%; text-align:center"> - <input type="text" style="width:46%; text-align:center">
								</td>
							</tr>
							<tr>
								<th>Phone No.</th>
								<td>
									<input type="text" placeholder="Type in phone No.">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="write-btn">
				<a href="#" onClick="return false;">Request Point with Money</a>
			</div>

				</ng-form>
		</div>
		<!-- //Contents -->

		<ng-form name="requestFrm" ng-controller="RequestCtrl" ng-init="init2(this)">
			<div ng-include="'views/partials/chatres.html'"></div>
		</ng-form>
