			<div class="layer-pop" ng-show="isshow">
				<ng-form name="callFrm" ng-model="callFrm">
				<h2>Request Secret Chatting<a ng-click="close()">Close</a></h2>

				<div class="layer-con">
					<p class="message-tit">
						<b>{{target.nickname}}</b>({{target.age}}) {{target.region1}} {{target.region2}}
					</p>

					<div class="message">
						<div class="m-img"><img ng-src="{{target.main}}" onerror='onImgError(this);' alt=""></div>
						<textarea id="message" name="message" ng-model="target.message" placeholder="Type in texts"></textarea>
					</div>
					<p class="m-tail" ng-if="gender == 'man'">Deduct 50P per Chatting. Point : {{target.point}}P</p>
					<p class="m-tail2" style='margin-top: 10px;'>I'll Keep your secret. Chatting Free</p>

				</div>

				<div class="message-btn">
					<a ng-click="close(this)" ng-class="requested ? 'off' : ''">Cancel</a><a ng-click="request(this)" class="on">Submit</a>
				</div>
				</ng-form>
			</div>
