<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="tzSocket">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<div class="wrap">
    <!-- Add your site or application content here -->
		<div class="header">
			<h1>회원가입</h1>
			<a ng-click="doTheBack()" class="prev-btn">이전으로</a>
			<a href="#/main" class="home-btn">홈</a>
		</div>
    
	    <div ng-view=""></div>
	
	    <div class="footer">
			<p>
				위드유ㅣ홍길동ㅣ결혼정보업 : 경기-수원-국내-12-0003<br>
				사업자등록번호 : 125-24-79774<br>
				통신판매업신고 : 제 2014-수원팔달-0184호<br>
				경기도 수원시 팔달구 인계로 132 201/202호<br>
				TEL : 070-7434-2782
			</p>
			<p class="copy">COPYRIGHT ⓒ 2016 S Hunting. All Rights Reserved.</p>
		</div>
	</div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="scripts/libs/underscore.js"></script>
    <script src="scripts/libs/moment.js"></script>
<!--     <script src="scripts/libs/moment-with-locales.min.js"></script> -->
    
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/utils/utils.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/utils/storage.js"></script>
        <script src="scripts/utils/commcd.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
