@charset "UTF-8";


.write-btn-true {
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #034a41;
	color: #fff;
	font-size: 15px;
}

.write-btn-false {
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: gray;
	color: #fff;
	font-size: 15px;
}

a {
	cursor: pointer;
}