
<div class="socket-wrap">
	<div class="socket">

		<div class="c-date">
			<span class="date">2016 08 19(월)</span><span class="bar"></span>
		</div>

		<div id='view'>
			<div id="c-box" class="c-box"></div>
		</div>

		<div class="left" id='left_template' style='display: none'>
			<div class="c-box">
				<div class="img">
					<img src="../images/user-icon.png" alt="">
				</div>
				<div class="c-name"></div>
				<div class="c-txt" id="text1" name="text1">
					<span class="bullet"></span>
				</div>
				<span class="c-clock">오후12:45</span>
			</div>
		</div>

		<div class="right" id='right_template' style='display: none'>
			<div class="c-box">
				<div class="right">
					<div class="c-txt" id="text2" name="text2">
						<span class="bullet"></span>
					</div>
					<span class="c-clock">오후12:45</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //채팅 -->

<div class="socket-form">
	<a href="#" class="plus-btn"><img src="../images/plus_btn.png" alt=""></a> 
	<input id="text1" name="text1" ng-model="text1" type="text" placeholder="대화 입력"> 
	<a ng-click="sendMsg(this)" class="call-btn">전송</a>
</div>
